.profil-user-edit-container {
  h1 {
    margin-bottom: 0;
  }
  .profil-user-edit-form {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    .profil-user-edit-address {
      display: flex;
      width: 100%;
      gap: 0.2rem;
      align-items: center;
      margin: 1.5rem 0;

      input {
        height: fit-content;
        width: fit-content;
      }
    }
  }
}

.profil-user-edit-button {
  background-color: variables.$secondary-color;
  color: variables.$fourth-color;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 10rem;
  width: 12rem;
  border: 0.1rem solid variables.$secondary-color;
  display: flex;
  justify-content: center;
}
