.menu {
  position: relative;
  height: auto;

  .burger {
    font-size: 2rem;
    cursor: pointer;
    background-color: #21a89a;
    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .styledMenu {
    list-style: none;
    padding: 4rem 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    text-align: left;
    top: 0;
    right: 0;
    height: auto;
    background: #21a89a;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    border-radius: 1.5rem 0 1.5rem 1.5rem;

    a {
      text-decoration: none;
      width: 100%;
    }

    .menu-li {
      color: white;
      padding: 1rem;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: left;
      gap: 0.5rem;
    }

    &.open {
      transform: translateX(0);
    }
  }
}
