.nav-site {
  position: fixed;
  bottom: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 9999;

  .nav-ul {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: variables.$secondary-color;
    padding: 0.7rem;
    width: 20rem;
    border-radius: 0.5rem;

    .nav-li {
      list-style: none;
      width: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      color: white;
    }
  }
}
