.searchbar {
  width: 100%;
  border-radius: 5rem;
  margin: 1.5rem 0;
  padding: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
  border: 1px variables.$third-color solid;

  &:hover {
    border: 1px variables.$secondary-color solid;
  }

  &:focus {
    border: 1px variables.$font-color solid;
    outline: none;
  }
}

.admin-users-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: hidden;

  .admin-users-item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border: 1px variables.$third-color solid;
    border-radius: 1.5rem;
    padding: 1.5rem;

    img {
      width: 6vw;
      border-radius: 1.2rem;
    }

    .admin-users-infos {
      display: flex;
      flex: 1;
      flex-direction: row;
      gap: 0.2rem;

      p {
        margin: 0;
        font-weight: bold;
      }
    }
  }
}
