@use "variables";
@import "../pages/styles/Contact.scss";

@import "../pages/styles/Accueil.scss";
@import "../pages/styles/Informations.scss";
@import "../pages/styles/Inscription.scss";

@import "../pages/Admin/styles/Admin.scss";
@import "../pages/Admin/styles/AdminBornes.scss";
@import "../pages/Admin/styles/AdminUtilisateurs.scss";
@import "../pages/Admin/styles/AdminBornesAddCsv.scss";

@import "../pages/Profil/styles/Profil.scss";
@import "../pages/Profil/styles/ProfilUtilisateur.scss";
@import "../pages/Profil/styles/ProfilReservations.scss";

@import "../components/styles/NavVisiteur.scss";
@import "../components/styles/Menu.scss";

@import "../pages/styles/Aides.scss";
@import "../utilitaires//styles//loading.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  body {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    color: variables.$font-color;

    h1,
    h2,
    h3,
    h4,
    details {
      font-family: variables.$font-title;
    }

    h1 {
      margin-bottom: 1.5rem;
      margin-top: 0.5rem;
    }

    button {
      background-color: variables.$secondary-color;
      border: 0;
      color: variables.$fourth-color;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin: 1rem 0;

      &:hover {
        background-color: variables.$fourth-color;
        color: variables.$secondary-color;
        border: 1px variables.$third-color solid;
        cursor: pointer;
      }
    }

    summary {
      margin-top: 0.5rem;
      padding: 0.8rem;
      background-color: #c8fffa;
      border-radius: 5px;
    }

    .btn-secondary {
      background-color: variables.$fourth-color;
      border: 1px variables.$third-color solid;
      color: variables.$secondary-color;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      margin: 1rem 0;

      &:hover {
        background-color: variables.$secondary-color;
        color: variables.$fourth-color;
        border: 0;
        cursor: pointer;
      }
    }

    p {
      font-family: variables.$font-text;
      margin: 1.5rem 0;
      line-height: 180%;
    }

    label {
      font-family: variables.$font-text;
      margin: 1.5rem 0 0.8rem;
    }

    a {
      text-decoration: none;
      color: variables.$font-color;
      font-family: variables.$font-title;
    }

    // Main containing all the APP
    .container {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // Header with img BG
    .hero {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }

    // Outlet
    .content {
      width: 100%;

      position: relative;
      z-index: 1;
      border-radius: 1rem 1rem 0 0;
      background-color: white;
      margin-top: 30%;
      padding: 1rem;

      h1 {
        text-align: left;
      }
      // Inputs and label on every form
      .form-group {
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          border-radius: 1rem;
          padding: 0.8rem;
          font-size: 0.9rem;
          border: 1px variables.$third-color solid;

          &:hover {
            border: 1px variables.$secondary-color solid;
          }

          &:focus {
            border: 1px variables.$font-color solid;
            outline: none;
          }

          &:disabled {
            background-color: #d6d1d1;
            color: #d6d1d1;
          }
        }
        textarea {
          width: 100%;
          height: 20vh;
          border-radius: 1rem;
          padding: 0.8rem;
          font-size: 0.9rem;
          border: 1px variables.$third-color solid;

          &:hover {
            border: 1px variables.$secondary-color solid;
          }

          &:focus {
            border: 1px variables.$font-color solid;
            outline: none;
          }

          &:disabled {
            background-color: #d6d1d1;
            color: #d6d1d1;
          }
        }
      }

      .form-group-50-50 {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;

        .form-group {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }

      [role="alert"] {
        background-color: variables.$alert-color;
        color: variables.$font-color;
        line-height: 1.6rem;
        padding: 10px;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        margin: 0.8rem 0 0;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: variables.$info-color;
        color: variables.$font-color;
        line-height: 1.6rem;
        padding: 0.8rem;
        font-size: 0.8rem;
        border-radius: 0.3rem;
        p {
          text-decoration: underline;
          margin: 0.8rem 0;
        }
      }

      .time-label {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;

        .time-label-btn {
          background-color: variables.$fourth-color;
          border: 1px variables.$third-color solid;
          color: variables.$font-color;
          border-radius: 1rem;
          padding: 0;
          margin: 0;
          width: 3rem;
          text-align: center;
          p {
            font-size: 1rem;
            line-height: 0;
          }
          &:hover {
            border: 1px variables.$secondary-color solid;
          }

          &:focus {
            background-color: variables.$secondary-color;
            border: 1px variables.$fourth-color solid;
            color: variables.$fourth-color;
            outline: none;
          }

          &:disabled {
            background-color: #d6d1d1;
            color: #d6d1d1;
          }
        }
      }
    }

    // media queries desktop
    @media screen and (min-width: 768px) {
      .content {
        width: 88ch;
        position: relative;
        z-index: 1;
        background-color: white;
        margin-top: calc(8vw);
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 1.5rem;

        .form-group-50-50 {
          display: flex;
          flex-direction: row;
          gap: 2rem;
        }
      }
    }
  }
  .returnPreviousPage {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
