@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: variables.$font-color;

    h1,
    h2,
    h3,
    h4 {
      font-family: variables.$font-title;
      color: variables.$font-color;
    }

    h1 {
      font-size: 1.5rem;
      text-align: left;
    }

    p {
      font-family: variables.$font-text;
    }

    a {
      text-decoration: none;
      color: variables.$font-color;
      font-family: variables.$font-title;
    }
  }
}
